/* Reset básico e fontes */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Paleta de Cores DEFENDER */
  --color-primary-red: #ff0908;
  --color-primary-red-light: #fb3b3a;
  --color-support-beige: #e4baa8;
  --color-dark-primary: #1e1e1e;
  --color-dark-secondary: #000000;
  --color-light-primary: #FFFFFF;
  --color-light-secondary: #F5F7FA;

  /* Tipografia */
  --font-body: 'Open Sans', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
}

body {
  color: var(--color-dark-primary);
  background: var(--color-light-primary);
  font-family: var(--font-body);
}

/* 
  ================================================================
  => REGRA ATUALIZADA PARA CORRIGIR O CORTE DO HEADER
  ================================================================
*/
main {
  padding-top: 80px; /* Aumentado para corresponder à nova altura do header */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}